/* Reponsive cho màn hình Desktop */

@media screen and (min-width: 1024px) {

	/*
 * start Reponsive header -----------------------------------------------------------------------------------------------------------------------
 */

	.header .icon {
		display: none;
	}


	.nav section.loaisanpham .sanpham .icon {
		display: none;
	}


	/*
 * start Reponsive Menu -----------------------------------------------------------------------------------------------------------------------
 */




	.mainmenu ul li {
		display: inline-block;
		/* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
		list-style: none;
		/* kiểu danh sách  */
		float: left;
		padding: 0.5em 0.8em;
		/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
	}

	.mainmenu li:hover {
		/* hover là tác vụ khi rê chuột vào */
		background-color: white;
		color: black;
	}

	.mainmenu li.active {
		/* trang đang hoạt động sẽ có class active */
		background-color: #4CAF50;
	}

	.mainmenu li a {
		text-transform: capitalize;
		/* Chữ đầu tiên của mỗi thành phần là chữ hoa.*/
		text-decoration: none;
		/* Định dạng văn bản bình thường, đây là dạng mặc định. */
		color: #591e5d;
		font-size: 0.8em;
	}

	.mainmenu li.active a {
		color: white;
	}

	/*
 * end Reponsive Menu -----------------------------------------------------------------------------------------------------------------------
 */
	/*
 * start Reponsive toolbar -----------------------------------------------------------------------------------------------------------------------
 */

	.row .nav-toolbar {
		display: inline-block;
		/* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
		float: left;
		padding: 0.1em 1.5em;
		/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
	}

	.row .nav-toolbar a {
		color: #8A8A8A;
		display: inline-block;
		/* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
		padding: 0.1em 1.5em 0 0.3em;
		/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
	}

	.row .nav-toolbar a:hover {
		color: #591e5d;
		text-shadow: 2px 2px 5px gray;
		/* Đổ bóng cho chữ */
	}

	.row .nav-toolbar a.giohang {
		background-color: #02C0BA;
		border-radius: 3em;
		color: white;
		display: inline-block;
		/* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
		padding: 0.1em 1.5em 0 0.3em;
		/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
	}

	/* lor: #591e5d;
	text-shadow: 2px 2px 5px gray; */
	/* Đổ bóng cho chữ */
}

.row .nav-toolbar-right {
	display: inline-block;
	/* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
	float: right;
	padding: 0.1em 1.5em;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */

}

.row .nav-toolbar-right a {
	color: #8A8A8A;
	display: inline-block;
	/* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
	padding: 0.1em 1.5em 0 0.3em;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */

}

.row .nav-toolbar-right a:hover {
	color: #591e5d;
	text-shadow: 2px 2px 5px gray;
}

/*
 * end Reponsive toolbar -----------------------------------------------------------------------------------------------------------------------
 */






.nav-header-left .row-nav-header-left {
	display: inline-block;
	/* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
	float: right;
	padding: 0 0.5em;
}




/*
 * end Reponsive header -----------------------------------------------------------------------------------------------------------------------
 */


/*
 * start Reponsive nav -----------------------------------------------------------------------------------------------------------------------
 */


.nav {

	background-color: #EEEEEE;
	overflow: hidden;
	margin: 10% 0% 0% 0%;


	padding: 0.3em 1em 0.3em 0em;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */

}



.nav section {

	overflow: hidden;
	margin: 0;

	padding: 0.3em 1em 0.3em 1em;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */

}

/*  start Slideshow */

.nav section.slideshow {
	background-color: white;
	overflow: hidden;
	margin: auto 10% auto 10%;
	padding: 0.3em 1em 0.3em 1em;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */

}

.nav section.slideshow .slideshowimg {
	margin: 0;
	padding: 0;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */

}

.slideshow .slideshowimg img.mySlides {
	padding: 0 0.5em;
	margin: 0;
}

/*  end Slideshow */

.nav section.quangcao1 {

	overflow: hidden;
	width: 20%;
	float: left;
	margin: 0 1% 0 10%;
	padding: 0.3em 0em 0.3em 0em;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */

}

.nav section.quangcao1 img {


	width: 100%;


}




.nav section.loaisanpham {

	background-color: white;
	overflow: hidden;
	margin: 0 1% 0 10%;
	float: top;

	padding: 0.3em 0em 0.3em 0em;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
	width: 20%;

}


.nav section.loaisanpham .sanpham {

	margin-top: -0.2em;
	padding: 0.5em 0em;
	background-color: #591e5d;
	box-shadow: 1px 1px 0.5px gray;
	width: 100%;

}





.nav section.noibat {

	overflow: hidden;
	margin: -52% 10% 0% 2%;
	/* Điêu chỉnh do cao của section noibat */
	padding: 0.3em auto 0.3em auto;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */
}

.nav .noibat .card-sanpham {
	background-color: white;
	/* mau nen chinh */
	background-image: linear-gradient(white, #8F659D);
	/* mau linear*/

	float: left;
	width: 20.99999%;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 0.5em;
	display: block;
	border-radius: 3em;
	max-width: 250px;
	height: 220px;

}

.nav .noibat .card-sanpham img {

	border-radius: 3em;
	margin-left: 8%;
	margin-right: 8%;
	max-width: 150px;
	max-height: 150px;

}



.nav section.danhsachsanpham {

	background-color: white;
	overflow: hidden;
	margin: 0% 10% 0% 10%;
	padding: 0.3em 1em 3em 1.2em;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */

}

.nav .danhsachsanpham .card-sanpham {
	float: left;
	width: 15.2%;
	margin: 0em;
	padding: 0.5em;
	display: block;

}

.nav section.danhsachsanpham button {

	font-size: 1.3em;
	border-radius: 3em;
	/* chỉnh đô bo của các góc */
	margin: 2em 50% 0em 42%;
	padding: 0.5em 0em;
	width: 15%;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */

}

.nav section.danhsachsanpham button:hover {
	background-color: white;
	border: 1px solid #A4EEF7;
	color: #12A8FF;
	box-shadow: 1px 1px 0.5px gray;

}





/*
 * end Reponsive nav -----------------------------------------------------------------------------------------------------------------------
 */





/*
 * start Reponsive footer -----------------------------------------------------------------------------------------------------------------------
 */

.row .info {

	display: inline-block;
	/* Thành phần sẽ hiển thị như một khối, nhưng là một khối nội tuyến. (inline, không ngắt dòng). */
	float: left;

}

.row .info ul li {

	list-style: none;
	/* kiểu danh sách  */
	padding: 0.1em 0.8em;
	/* thêm vào các khoảng cách bên trên,phải,dưới,trái : padding: 25px(TOP) 50px(right) 75px(BOT) 100px(left); */


}

.row .info ul li a {
	/*text-transform: capitalize; /* Chữ đầu tiên của mỗi thành phần là chữ hoa.*/
	text-decoration: none;
	/* Định dạng văn bản bình thường, đây là dạng mặc định. */
	color: Gray;
	font-size: 0.8em;

}

.row .info ul li a:hover {
	/* hover là tác vụ khi rê chuột vào */
	color: white;
}

/*
 * end Reponsive footer -----------------------------------------------------------------------------------------------------------------------
 */


